.div1 {
    border: 5px outset green;   
    text-align: center;
    height: 200px;
    width: 100%;
  }

  .div2 {
    border: 5px outset blue;   
    text-align: center;
    height: 200px;
    width: 100%;
  }

  .div3 {
    border: 5px outset red;   
    text-align: center;
    height: 200px;
    width: 100%;
  }

  div {
      margin: 0px;
  }

.main {
    display: flex;
}